@font-face{
    font-family: 'Liberation Sans';
    src: url('../fonts/LiberationSans-Regular-webfont.eot');
    src: url('../fonts/LiberationSans-Regular-webfont.eot?iefix') format('eot'),
         url('../fonts/LiberationSans-Regular-webfont.woff') format('woff'),
         url('../fonts/LiberationSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/LiberationSans-Regular-webfont.svg#webfont') format('svg');
}

body {
    padding-top: 60px;
    padding-bottom: 40px;
}

body, div, p {
    font-family: 'Liberation Sans', Arial, sans-serif;
}

h1,h2,h3,h4,h5,h6, .jumbotron p {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.padded {
    margin-bottom: 10px;
    padding: 10px;
}

.headerlink {
    padding-top: 50px;
}

/* Don't overlap affix below md size*/
@media(max-width:991px){
    .affix {
        position: relative;
         width: auto;
    }
}

.container {
    padding-top: 0;
}

@media(min-width: 1200px) {
    .container {
        padding-top: 15px;
    }
}

.item {
    text-align: right;
}

.center {
    text-align: center;
}

/* create new stacking context 1 above the auto level */
.raise {
  position: relative;
  z-index: 1;
}

/* showblogs-specific */
.uglymug {
    border-radius: 64px;
    -webkit-border-radius: 64px;
    -moz-border-radius: 64px;
}

.blog {
    margin-top: 10px;
    font-size: x-large;
}

.cardlist {
    margin-top: 10px;
}

.shadowcard {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

.topic {
    margin: 0;
}

/* Colors! */
.special {
    background: yellow;
}

.cancelled {
    background: red;
}

.guest {
    background: lightgreen;
}

.hackathon {
    background: orange;
}

.vaycay {
    background: darkgrey;
}
