@font-face{
    font-family: 'Liberation Sans';
    src: url('../fonts/LiberationSans-Regular-webfont.eot');
    src: url('../fonts/LiberationSans-Regular-webfont.eot?iefix') format('eot'),
         url('../fonts/LiberationSans-Regular-webfont.woff') format('woff'),
         url('../fonts/LiberationSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/LiberationSans-Regular-webfont.svg#webfont') format('svg');
}

body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.alert {
    color: #333;
}

div.alert.alert-info, div.alert.alert-success, div.alert.alert-warning, div.alert.alert-failure {
    color: #FFF;
}

a, .alert code>a, .alert a {
    color: #303f9f;
}

a:hover {
    color: #3f51b5;
}

body .well, .container .well, .container-fluid .well, body .jumbotron, .container .jumbotron, .container-fluid .jumbotron, body .well-default, .container .well-default, .container-fluid .well-default, body .jumbotron-default, .container .jumbotron-default, .container-fluid .jumbotron-default {
    box-shadow: none;
    background-color: none;
}

body, div, p {
    font-family: 'Liberation Sans', Arial, sans-serif;
}

h1,h2,h3,h4,h5,h6, .jumbotron p {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.padded {
    margin-bottom: 10px;
    padding: 10px;
}

.headerlink {
    padding-top: 50px;
}

.navbar .navbar-toggle .icon-bar {
    color: white;
}

@media(max-width:1200px){
    .navbar .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

/* Don't overlap affix below md size*/
@media(max-width:991px){
    .affix {
        position: relative;
         width: auto;
    }
}

.container {
    padding-top: 0;
}

@media(min-width: 1200px) {
    .container {
        padding-top: 15px;
    }
}

.item {
    text-align: right;
}

.center {
    text-align: center;
}

.panel-info .panel-heading {
    background-color: #3F51B5;
}

/* create new stacking context 1 above the auto level */
.raise {
  position: relative;
  z-index: 1;
}

.panel-info .panel-heading {
    color: #3F51B5;
}

.panel-title {
    color: #FFF;
    padding: 5px 0;
}

.panel-info a:hover {
    text-decoration: none;
}

.avatar-link {
    border-radius: 100%;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.23), 0px 10px 30px rgba(0, 0, 0, 0.19);
    height: 70px;
    width: 70px;
}

/* showblogs-specific */
.uglymug {
    border-radius: 64px;
    -webkit-border-radius: 64px;
    -moz-border-radius: 64px;
    height: 70px;
}

.forge-list {
    padding-left: 0;
    list-style: none;
}

.blog {
    margin-top: 10px;
    font-size: x-large;
}

.cardlist {
    margin-top: 10px;
}

.shadowcard {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

.topic {
    margin: 0;
}

/* Colors! */
.special {
    background: yellow;
}

.cancelled {
    background: red;
}

.guest {
    background: lightgreen;
}

.hackathon {
    background: orange;
}

.vaycay {
    background: darkgrey;
}

.label-warning {
  background: #ffc722;
}
